/* Search
 */
div.search {
	position:absolute;
	top:-38px;
	right:10px;
}

div.search input.form-control {
	width:150px;
	color:#a0a0a0;
	padding:0 6px;
	margin:0;
	height:26px;
}

@media (max-width:767px) {
	div.search {
		top:10px;
	}
}

/* Overview
 */
table.table tr th:first-child,
table.table tr td:first-child {
	padding-left:40px;
}

table.table tr td:nth-child(2) {
	width:10px;
	text-align:right;
}

table.table tr.dir td:first-child {
	color:#f49500;
	background:url(/images/directory.png) no-repeat 10px 6px;
}

table.table tr.file td:first-child {
	color:#f49500;
	background:url(/images/file.png) no-repeat 10px 6px;
}

table.table tr.file td span {
	color:#808080;
}

table.table tr.click {
	cursor:pointer;
}

/* Edit
 */
div.parent {
	display:inline-block;
	white-space:nowrap;
	margin-right:15px;
}

div.parent input {
	margin-right:5px;
}
