input#password {
	cursor:pointer;
}

table.edit {
	margin-top:20px;
}

table.edit td:first-child {
	width:100px;
}

table.edit td:nth-child(2) {
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	max-width:0;
}

table.edit input.text {
	border:0;
	padding:0;
	background-color:inherit;
	width:100%;
	text-overflow:ellipsis;
}

tr#inforow {
	display:none;
}

span#info {
	white-space:pre;
}

/* Share
 */
table.users td:last-child {
    width:150px;
	padding:2px;
}


table.users select.form-control {
	margin:0;
}
