table.table tr.click {
	cursor:pointer;
}

table.table th:first-child {
	width:30px;
}

table.table tr th,
table.table tr.file td {
	padding-left:40px;
}

table.table tr.file td {
	color:#f49500;
	background:url(/images/file.png) no-repeat 10px 6px;
}

table.password td:first-child {
	width:100px;
}

table.password input.text {
	border:0;
	padding:0;
	background-color:inherit;
	width:100%;
	text-overflow:ellipsis;
}

tr#inforow {
	display:none;
}

span#info {
	white-space:pre;
}
